@import 'global-ui/ui';

.container {
    :global {
        .coin-logos-wrapper,
        .payment-address-wrapper {
            height: 300px;
            @include media-breakpoint-down(sm) {
                height: 200px;
            }
        }
        .coin-logos-wrapper {
            .coin-logo {
                cursor: pointer;
            }
        }
        .coin-logo {
            width: 70px;
            &.ethereum,
            &.polkadot {
                width: 50px;
            }
            @include media-breakpoint-down(sm) {
                width: 50px;
                &.ethereum {
                    height: 60px;
                }
                &.polkadot {
                    height: 55px;
                }
            }
        }
        .copy-button {
            cursor: pointer;
        }
        .success-check-icon {
            font-size: 40px;
            color: #9d9b9b;
            vertical-align: middle;
        }
    }
}
