@import 'global-ui/ui';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    :global {
        .header-section {
            width: 100vw;
            height: 300px;
        }
        .stats-section {
            width: 100vw;
            height: 500px;
            position: relative;
            background-image: linear-gradient(#c7c7c7, #ffffff);
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(sm) {
                height: 350px;
            }
        }
        .about-section {
            display: flex;
            flex: 1;
        }
        .footer-section {
            width: 100vw;
        }
    }
}
