@import 'global-ui/ui';

.container {
    width: 700px;
    padding: 1rem;
    margin-left: 5rem;
    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-left: 0;
        padding: 1rem 0.5rem;
    }
    :global {
        .stats-text {
            color: $primary-red;
            p {
                margin-bottom: 0;
            }
        }
        .share-btn {
            a {
                text-decoration: none;
                color: #ffffff;
            }
        }
        .overlay-removed,
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .overlay {
            background-color: #ffffff;
            z-index: 1;
            .btn-header-red {
                visibility: hidden;
            }
            &:hover {
                .btn-header-red {
                    visibility: visible;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                background-position: center;
                background-repeat: no-repeat;
                z-index: -1;
                filter: blur(5px);
                @include media-breakpoint-down(sm) {
                    background-image: url('/assets/img/stats-preview-sm.png');
                }
                @include media-breakpoint-only(md) {
                    background-image: url('/assets/img/stats-preview-md.png');
                }
                @include media-breakpoint-up(lg) {
                    background-image: url('/assets/img/stats-preview.png');
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .stats-info {
                flex-direction: column;
                .share-btn {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}
