@import 'global-ui/ui';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalDialog {
    @include media-breakpoint-up(sm) {
        max-width: 30vw;
    }
    @include media-breakpoint-up(xl) {
        max-width: 20vw;
    }
}
